<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                      th:replace="~{/layout/layout :: main-fragment(
                                                                     ~{:: title},
                                                                    'header',
                                                                    'footer',
                                                                     ~{:: #css-resources},
                                                                     ~{:: #js-resources},
                                                                     ~{:: #main-content}
                                                                    )}">
<head>
    <meta charset="UTF-8">
    <title>DTN Shop</title>
    <th:block id="css-resources">

    </th:block>
</head>
<body>
<main class="main" id="main-content">
    <div class="home-slider owl-carousel owl-theme owl-carousel-lazy show-nav-hover nav-big mb-2 text-uppercase" data-owl-options="{
				'loop': false
			}">
        <div class="home-slide home-slide1 banner">
            <img class="owl-lazy slide-bg" th:src="@{/shop/images/slider/slide-0111.jpg}" data-src="shop/images/slider/slide-0111.jpg" alt="slider image">

        </div><!-- End .home-slide -->

        <div class="home-slide home-slide2 banner banner-md-vw">
            <img class="owl-lazy slide-bg" th:src="@{/shop/images/slider/slide-022.jpg}" data-src="shop/images/slider/slide-022.jpg" alt="slider image">

        </div><!-- End .home-slide -->
    </div><!-- End .home-slider -->

    <div class="container">
        <div class="info-boxes-slider owl-carousel owl-theme mb-2" data-owl-options="{
					'dots': false,
					'loop': false,
					'responsive': {
						'576': {
							'items': 2
						},
						'992': {
							'items': 3
						}
					}
				}">
            <div class="info-box info-box-icon-left" style="border-right: 1px solid #868686">
                <i class="icon-shipping"></i>

                <div class="info-box-content">
                    <h4>VẬN CHUYỂN TOÀN QUỐC</h4>
                    <p class="text-body">Vận chuyển nhanh trong 2-5 ngày <br>
                        Miễn phí vận chuyển</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box info-box-icon-left" style="border-right: 1px solid #868686">
                <i class="icon-money"></i>

                <div class="info-box-content">
                    <h4>CAM KẾT CHẤT LƯỢNG</h4>
                    <p class="text-body">Bảo hành & đổi trả mới 100% <br>nếu có lỗi do nhà sản xuất</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->

            <div class="info-box info-box-icon-left">
                <i class="icon-support"></i>

                <div class="info-box-content">
                    <h4>HỖ TRỢ & TƯ VẤN 24/7</h4>
                    <p class="text-body">Hỗ trợ đổi hàng, tư vấn nhiệt tình <br>Gọi ngay 035 483 8756</p>
                </div><!-- End .info-box-content -->
            </div><!-- End .info-box -->
        </div><!-- End .info-boxes-slider -->
    </div><!-- End .container -->

    <section class="new-products-section">
        <div class="container">
            <h2 class="section-title heading-border ls-20 border-0">Sản phẩm&nbsp;<span style="color: #FFFFFF; background-color: #378C17">&nbsp;mới về&nbsp;</span></h2>

            <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
						'dots': false,
						'nav': true,
						'responsive': {
							'992': {
								'items': 5
							}
						}
					}">
                <th:block th:each="newProduct :${newProducts}">
                    <div class="product-default">
                    <figure>
                        <a th:href="@{/{slug}/{id}(id=${newProduct.id},slug=${newProduct.slug})}">
                            <img th:src="@{${newProduct.images}}" alt="product" style="border: 1px solid #e5e5e5">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot">NEW</div>
                        </div>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-title">
                            <a th:href="@{/{slug}/{id}(id=${newProduct.id},slug=${newProduct.slug})}" th:text="${newProduct.name}"></a>
                        </h3>
                        <div class="price-box">
                            <th:block th:if="${newProduct.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(newProduct.promotionPrice, 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: #DD3333">&#x20AB;&nbsp;</span>
                                <del class="old-price" th:text="${#numbers.formatDecimal(newProduct.price, 0, 'COMMA', 0, 'POINT')+'₫'}"></span></del>
                            </th:block>
                            <th:block th:unless="${newProduct.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(newProduct.price, 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: #DD3333">&#x20AB;</span>
                            </th:block>
                        </div><!-- End .price-box -->
<!--                        <div class="ratings-container">-->
<!--                            <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${newProduct.totalSold}"></span> &dstrok;&ocirc;i</p>-->
<!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
<!--                        -->

<!--                        <div class="product-action">-->
<!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
<!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">Mua hàng</button>-->
<!--                            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>-->
<!--                        </div>-->
                    </div><!-- End .product-details -->
                </div>
                </th:block>
            </div><!-- End .featured-proucts -->
        </div>
    </section>

    <section class="new-products-section">
        <div class="container">
            <h2 class="section-title heading-border ls-20 border-0">Sản phẩm&nbsp;<span style="color: #FFFFFF; background-color: #006CAA">&nbsp;bán chạy&nbsp;</span></h2>

            <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
						'dots': false,
						'nav': true,
						'responsive': {
							'992': {
								'items': 5
							}
						}
					}">
                <th:block th:each="sell : ${bestSellerProducts}">
                    <div class="product-default">
                    <figure>
                        <a th:href="@{/{slug}/{id}(id=${sell.id},slug=${sell.slug})}">
                            <img th:src="@{${sell.images}}" alt="product" style="border: 1px solid #e5e5e5">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot" style="background-color: #00a2e3">BEST-SELLER</div>
                        </div>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-title">
                            <a th:href="@{/{slug}/{id}(id=${sell.id},slug=${sell.slug})}" th:text="${sell.name}"></a>
                        </h3>
                        <div class="price-box">
                            <th:block th:if="${sell.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(sell.promotionPrice, 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: #DD3333">&#x20AB;&nbsp;</span>
                                <del class="old-price" th:text="${#numbers.formatDecimal(sell.price, 0, 'COMMA', 0, 'POINT')+'₫'}"></span></del>
                            </th:block>
                            <th:block th:unless="${sell.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(sell.price, 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: #DD3333">&#x20AB;</span>
                            </th:block>
                        </div><!-- End .price-box -->
                        <div class="ratings-container">
                            <p class="card-text sold">Đã bán <span th:text="${sell.totalSold}"></span></p>
                        </div><!-- End .product-container -->

<!--                        <div class="product-action">-->
<!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
<!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">Mua hàng</button>-->
<!--                            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>-->
<!--                        </div>-->
                    </div><!-- End .product-details -->
                </div>
                </th:block>
            </div><!-- End .featured-proucts -->
        </div>
    </section>

    <section class="new-products-section">
        <div class="container">
            <h2 class="section-title heading-border ls-20 border-0">Sản phẩm&nbsp;<span style="color: #FFFFFF; background-color: #BF2614">&nbsp;hot nhất&nbsp;</span></h2>

            <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
						'dots': false,
						'nav': true,
						'responsive': {
							'992': {
								'items': 5
							}
						}
					}">
                <th:block th:each="view : ${viewProducts}">
                    <div class="product-default">
                    <figure>
                        <a th:href="@{/{slug}/{id}(id=${view.id},slug=${view.slug})}">
                            <img th:src="@{${view.images}}" alt="product" style="border: 1px solid #e5e5e5">
                        </a>
                        <div class="label-group">
                            <div class="product-label label-hot" style="background-color: #ff3a3a">HOT</div>
                        </div>
                    </figure>
                    <div class="product-details">
                        <h3 class="product-title">
                            <a th:href="@{/{slug}/{id}(id=${view.id},slug=${view.slug})}" th:text="${view.name}"></a>
                        </h3>
                        <div class="price-box">
                            <th:block th:if="${view.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(view.promotionPrice, 0, 'COMMA', 0, 'POINT')}"></span><span style="color: #DD3333">&#x20AB;&nbsp;</span>
                                <del class="old-price" th:text="${#numbers.formatDecimal(view.price, 0, 'COMMA', 0, 'POINT')+'₫'}"></del>
                            </th:block>
                            <th:block th:unless="${view.promotionPrice}">
                                <span class="product-price" style="color: #DD3333" th:text="${#numbers.formatDecimal(view.price, 0, 'COMMA', 0, 'POINT')}"></span></span><span style="color: #DD3333">&#x20AB;</span>
                            </th:block>
                        </div><!-- End .price-box -->
<!--                        <div class="ratings-container">-->
<!--                            <p class="card-text sold">&Dstrok;&atilde; b&aacute;n <span th:text="${view.totalSold}"></span> &dstrok;&ocirc;i</p>-->
<!--                        </div>&lt;!&ndash; End .product-container &ndash;&gt;-->
<!--                        -->
                        <div class="ratings-container">
                            <p class="card-text sold">Lượt xem <span th:text="${view.views}"></span></p>
                        </div><!-- End .product-container -->
<!--                        <div class="product-action">-->
<!--                            <a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>-->
<!--                            <button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal">Mua hàng</button>-->
<!--                            <a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View"><i class="fas fa-external-link-alt"></i></a>-->
<!--                        </div>-->
                    </div><!-- End .product-details -->
                </div>
                </th:block>
            </div><!-- End .featured-proucts -->
        </div>
    </section>

    <section class="blog-section">
        <div class="container">
            <h2 class="section-title heading-border border-0 mb-2"><span style="color: #FFFFFF; background-color: #A64C32">&nbsp;Tin mới nhất&nbsp;</span></h2>

            <div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center owl-carousel owl-theme post-slider" data-owl-options="{
						'loop': false,
						'margin': 20,
						'autoHeight': true,
						'autoplay': false,
						'dots': false,
						'items': 2,
						'nav': true,
						'responsive': {
							'576': {
								'items': 3
							},
							'768': {
								'items': 5
							}
						}
					}">
                <th:block th:each="post : ${posts}">
                    <article class="post">
                    <div class="post-media">
                        <a th:href="@{/tin-tuc/{slug}/{id}(id=${post.id},slug=${post.slug})}">
                            <img th:src="@{${post.thumbnail}}" alt="Post" width="225" height="280">
                        </a>
                        <div class="post-date" style="background-color: #986842">
                            <span th:text="${#dates.format(post.publishedAt, 'MM yyyy')}"></span></p>
                        </div>
                    </div><!-- End .post-media -->

                    <div class="post-body">
                        <h2 class="post-title">
                            <a th:href="@{/tin-tuc/{slug}/{id}(id=${post.id},slug=${post.slug})}" th:text="${post.title}"></a>
                        </h2>
                        <div class="post-content">
                            <p th:utext="${post.content}"></p>
                        </div><!-- End .post-content -->
<!--                        <a href="single.html" class="post-comment">0 Comments</a>-->
                    </div><!-- End .post-body -->
                </article><!-- End .post -->
                </th:block>
            </div>

            <hr class="mt-0 m-b-5">
        </div>
    </section>
</main><!-- End .main -->

<th:block id="js-resources">

</th:block>
</body>
</html>